<IfModule mod_rewrite.c>
    RewriteEngine On

    # Allow Let's Encrypt challenge files
    RewriteRule ^\.well-known/ - [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
